# Database
DATABASE_URL="postgresql://user:password@database:5432/splitwise"

# Server
BACKEND_PORT=4000

# Database configuration (used by docker-compose)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=splitwise
POSTGRES_TEST_DB=splitwise_test
DATABASE_PORT=5432